body		          	
{
  background-color: #336699;

  color: #000;
  font-family: Verdana, sans-serif;
  font-size: 11px;
}

h1
{
  padding: 0px;
  margin: 0px;

  border-bottom: 1px solid #000;

  color: #000;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 30px;
}
     
h2
{
  padding: 0px;
  margin: 0px;

  color:#000;
  font-family: Arial, Verdana, sans-serif;
  font-weight: bold;
  font-size: 20px;
}

a:link, a:visited, a:active
{
  color: #000055
}

a:hover                      
{
  color: #333377;
  text-decoration: underline;
}

div#container
{
  width: 730px;

  margin: 0px auto;
}

div#header,
div#content,
div#footer
{
  width: 100%;
  height: auto;

  padding: 15px;

  margin-bottom: 15px;

  border: 1px solid #000;

  background-color: white;

}

ul#navigation
{
  margin-top: 20px;
  margin-bottom: 5px;
  margin-left: 0px;

  padding-left: 0px;

  list-style-type: none;
  list-style-position: inside;
}

ul#navigation li
{
  display: inline;
}

li.navigation_divider
{
  padding-right: 5px;
  padding-left: 5px;
}

span#copyright
{
  display: block;

  padding-top: 10px;

  font-size: 9px;
}

table
{
  width: 265px;

  border: 1px solid #000;
}

table,
tr,
td
{  
  color:#000;
  font-family:Verdana, Arial;
  font-size: 11px;
}


thead
{
  color: #000;
  font-family:Verdana, Arial;
  font-size: 12px;
  font-weight: bold;
  text-decoration: underline;
}

tr.oddrow
{
  background-color: #CCCCCC;
}

img
{
  float: right;

  border: 0px;
}